* text=auto

*.css      text
*.htm      text
*.html     text
*.js       text eol=lf
*.json     text
*.scss     text
*.php      text
*.ts       text eol=lf
*.vue      text eol=lf
*.xml      text
*.svg      text
*.txt      text
*.lock     text
*.md       text
*.yml      text

LICENSE    text
.tslintrc.js text
.eslintrc.js text
.babelrc text
.eslintignore text
.editorconfig text
.postcssrc.js text
.modernizrrc text
.gitignore text
.gitattributes text
.scss-lint.yml text
.senggenerator text

*.jpg binary
*.png binary
*.mp4 binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.wav binary
*.ttf binary
*.eot binary
*.woff binary
*.otf binary
*.woff2 binary
*.ogg binary
*.webm binary
*.pdf binary
