{
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": "tab",
		"selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": "/^local|^global/" }],
		"max-nesting-depth": 5,
		"selector-max-compound-selectors": 4,
		"selector-pseudo-element-colon-notation": null
	}
}
