{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-recommended-scss",
		"stylelint-config-prettier"
	],
	"rules": {
		"selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": "/^local|^global/" }],
		"max-nesting-depth": 5,
		"selector-max-compound-selectors": 4,
		"selector-pseudo-element-colon-notation": null,
		"at-rule-empty-line-before": null,
		"rule-empty-line-before": null,
		"declaration-empty-line-before": null
	}
}
