{
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": "tab",
		"selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": "/^local|^global/" }],
		"block-no-empty": null
	}
}
