<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />

    <!--
      Uncomment and adjust content for webpack:public-path content parameter to override webpack (runtime) publicPath
      <meta name="webpack:public-path" content="<%= process.env.PUBLIC_PATH %>" />
      <meta name="app-script" content="<%= process.env.PUBLIC_PATH %><%= process.env.VERSIONED_STATIC_ROOT %>js/webpack.path.js" />
    -->
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <meta name="app-script" content="<%= htmlWebpackPlugin.files.js[chunk]%>" />
    <% } %>

    <% if(process.env.NODE_ENV === 'development') { %>
      <meta http-equiv="Content-Security-Policy" content="script-src 'sha256-+OVgFCkyF2/rZ6qyfsNnIisCRI6dtMZw3w0Y4xiYagw=' 'strict-dynamic' https: http: 'unsafe-inline'; object-src 'none'; base-uri 'none';">
    <% } %>

    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[chunk]%>" />
    <% } %>

    <title>Vue Skeleton</title>
  </head>
  <body>
    <div id="app"></div>

    <script>!function(){for(var o=document.querySelectorAll('html > head > meta[name="app-script"]'),t=0;t<o.length;t++){var e=o[t].getAttribute("content"),n=document.createElement("script");n.src=e,n.src.substr(0,window.location.origin.length)!==window.location.origin?window.console&&console.error("[ScriptLoader] Cannot load "+e+"."):document.body.appendChild(n)}}()</script>
  </body>
</html>
