/*
 * Component Image asset helper
 * @access public
 * @param {String} $file - Asset file name, including extension
 * @return {URL} - A `url()` function leading to the image
 * @require {function} asset
 */
@function component-image($file) {
  @return url($pathComponentImage+'/'+$file);
}
