html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}
